/*-- scss:defaults --*/

/*-- scss:rules --*/

    
// variables
// color variables
$primary-blue: #4299e1;
$primary-green: #48bb78;
$on-primary: #fff;
$primary-blue-container: #D3E3FB;
$tertiary: #6d6f73;
$primary-blue-green-gradient-horizontal: linear-gradient(90deg, $primary-blue, $primary-green);
$primary-blue-green-gradient-vertical: linear-gradient(180deg, $primary-blue, $primary-green);
$default-box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px;
$default-border-radius: 5px;

// default link styles that has no specific class specified
a:not([class]) {
  color: $primary-blue;
  position: relative;
  font-weight:600;
  text-decoration: none;
  transition: all 0.3s ease;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background: $primary-blue-green-gradient-horizontal;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s ease;
  }

  &:hover::after {
    transform-origin: left;
    transform: scaleX(1);
  }
}

// default button styles
@mixin btn-base {
  color: $on-primary;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: $default-border-radius;
  font-weight: bold;
  transition: background-color .3s ease;

  &:hover {
    color: $on-primary;
  }
}

// button styles
.btn {
  @include btn-base;
  background: $primary-blue;

  &.btn-gradient {
    background: $primary-blue-green-gradient-horizontal;
  }

  &.btn-vertical-gradient {
    background: $primary-blue-green-gradient-vertical;
  }

  &.btn-large {
    font-size: 1.2rem;
    padding: 0.8rem 1.2rem;
  }

  &.btn-gradient--vertical {
    background: $primary-blue-green-gradient-vertical;
  }
}

// header styles
// h2
h2 {
  margin-bottom: 2rem;
  position: relative;
  padding-bottom: 1rem;
  border-bottom: none;
}

h2::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background: $primary-blue-green-gradient-horizontal;
  width: 60px;
  height: 4px;
  border-radius: 2px;
}

// gradient table styles
table.gradient-table  {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border-radius: $default-border-radius;
  overflow: hidden;
  box-shadow: $default-box-shadow;

  tr:hover {
    background: #ebf8ff;
    transform: scale(1.01);
    transition: all 0.3s ease;
  }

  tr.header {
    background: $primary-blue-green-gradient-horizontal;
    color: #fff !important;
    text-align: left;
    font-weight: 600;
    font-size: 1.2rem;
  }

  th {
    padding: 1.5rem 1rem;
  }

  th:not(:first-child) {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 25%;
      left: 0;
      width: 1px;
      height: 50%;
      background-color: $on-primary;
    }
  }

  td {
    padding: 1rem;
  }
}

/**
 * Any custom styles goes here.
 */

// main page styles
.main-page {

  .conf-intro {
    display: flex;
    flex-direction: column;;
    width: 100%;
    align-items: center;
    text-align: center;

    &__scicloj-logo {
      width: 50%;
      max-width: 200px;
      margin-right: 2rem;
    }

    &__title {
      font-size: 3rem;
      font-weight: 700;
      background: $primary-blue-green-gradient-horizontal;
      margin: 0;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }

    &__subtitle {
      font-size: 1.5rem;
      font-weight: 500;
      color: $tertiary;
    }

    &__description {
      margin: 2rem 0;

      p {
        font-size: 1.2rem;
        line-height: 1.6;
      }
    }
  }
}
